<mat-card class="cards characters">
  <mat-card-header>
    <mat-card-title class="mb-4">{{
      character.character
    }}</mat-card-title>

    <mat-card-subtitle
      >Bounty: {{ character.bounty }} Belis</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="assets/characters/{{ character.id }}.webp"
    alt="Photo of Character"
  />

  <mat-card-content>
    <h3>
      <strong>Devil Fruit: </strong>
      {{ character.devil_fruit }}
    </h3>
    <p>
      <strong>First Appearance: </strong> {{ character.first_appearance }}
      <br />
      <strong>Affiliations: </strong> {{ character.affiliations }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" class="mb-2">
      read more...
    </button>
    <button mat-raised-button color="accent">Edit</button>
  </mat-card-actions>
</mat-card>
